/* .div{
    position: fixed;
    top: 25%;
    left: 35%;
    width: 30%;
    background-color: aquamarine;
    padding: 10px; */
    
    /* display: none; */
/* }
.sat{
    position: relative;
    top: 25%;
    left: 35%;
    width: 30%;
    background-color: aquamarine;
    padding: 10px;
    display: block;
}
.big{
    position: relative;
    top: 25%;
    left: 35%;
    width: 30%;
    background-color: aquamarine;
    padding: 10px;
    display: block;
} */